#!/usr/bin/env bash

# Core aliases
#alias vim="nvim"
#alias vi="nvim"
alias rm="rm -i"

# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias te="cd ~/developer/testing/test-files/"
alias dt="cd ~/Desktop"
alias dl="cd ~/Downloads"
alias dv="cd ~/developer"
alias rpr="cd ~/developer/parallels-sharing/practice/rust/"

# Allow aliases to be sudo'ed
alias sudo='sudo '

# Always enable colored `grep` output
alias grep='grep --color=auto'

# Lock the screen (going AFK)

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Rust compilation
alias r="rustc "

# Mac-specific aliases
if [[ "$OSTYPE" == "darwin"* ]]; then
  # Ls colors
  alias l="ls -a"
  alias lsa="ls -a"
  alias lsl="ls -l"
  # Proper C++ compilation
  #TODO: Forward slash might mess this up?
  alias afk="/System/Library/CoreServices/\
    Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
  alias g++='g++ --std=c++1z'
  alias p='/usr/local/bin/python3.6'
  alias python='/usr/local/bin/python3.6'

  # Hide/show all desktop icons
  alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
  alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

elif [ "$OSTYPE" == 'linux-gnu' ]; then
  alias l="ls --color=auto -a"
  alias ls="ls --color=auto"
  alias lsa="ls --color=auto -a"
  alias lsl="ls --color=auto -l"
  # Proper C++ compilation

  alias p='python'
  alias g++='g++ --std=c++11'
  alias pbcopy='xsel --clipboard --input'
  alias pbpaste='xsel --clipboard --output'
else
  echo "WARNING::Unrecognized OS::$OSTYPE"
fi



