# Enable SSH Multiplexing
Host *
  ControlMaster auto
  ControlPath ~/.ssh/master-%r@%h:%p

### Hosts ###
Host rpi
	HostName 192.168.1.107
	User ubuntu

# Umich CAEN
Host studio
  HostName studio.eecs.umich.edu
  User ndwill
