#!/usr/bin/env bash

# Program aliases
alias vimrc="vi ~/.vimrc"
alias vi="vim"

# Core aliases
alias update="source ~/.bash_profile"
alias submit370="/afs/umich.edu/class/eecs370/bin/submit370"
alias dotfiles="cd ~/developer/dotfiles"

# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias te="pushd ~/developer/testing/test-files/"
alias dt="cd ~/Desktop"
alias dl="cd ~/Downloads"
alias dv="cd ~/developer"

# Allow aliases to be sudo'ed
alias sudo='sudo '

# Always enable colored `grep` output
alias grep='grep --color=auto'

# Lock the screen (going AFK)

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Rust compilation
alias r="rustc "

# Listing
alias l="ls -a --color=auto"
alias ls="ls -v --color=auto"
alias lsa="ls -a --color=auto"
alias lsl="ls --color=auto -al"

# Proper C++ compilation
alias p='python'
alias g++='g++ --std=c++11'
alias pbcopy='xsel --clipboard --input'
alias pbpaste='xsel --clipboard --output'
